.container-header {
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.container-section-promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
}

.item-article {
    width: 45%;
    margin-left: 20px;
}

.item-article>h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0;
}

.item-article>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.item-article>form {
    display: flex;
    flex-direction: column;
}

.item-article>form>p {
    color: gray;
    margin-right: 18px;
}

.item-article>form>p {
    color: gray;
    margin-right: 18px;
}

.item-article>form>div>button {
    background-color: #025157;
    color: white;
}

.item-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.explanatory-video>img {
    width: 120px;
}